<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create a new list</title>
</head>
<body>
    <header>
        <h1>Create a new list</h1>
    </header>
    <main>
        <div>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create List</button>
            </form> 
        </div>
    </main>
</body>
</html>