<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Item</title>
</head>
<body>
    <main>
        <div>
            <h1>
                Create a new item
            </h1>
            <form method="POST">
                <input type="text" name="task">
                <input type="text" name="due date">
                <input type="checkbox" name="is_complete">
                <select type="list" name="list"></select>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create</button>
            </form> 
        </div>
    </main>
</body>
</html>