<!DOCTYPE html>
<html lang="en">
<head>
    <title>Todo List</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todo_list_detail.name }}</h1>
            <div>
                <p>
                    <a href="{% url 'todo_list_update' todo_list_detail.id %}">Edit</a> 
                </p>
                <p>
                    <a href="{% url 'delete_list' todo_list_detail.id %}">Delete</a>
                </p>
            </div>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todo_list_detail.items.all %}
                    <tr>
                        <ul>
                            <td>{{ item.task }}</td>
                            <td>{{ item.due_date }}</td>
                        </ul>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>