<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update a list</title>
</head>
<body>
    <main>
        <div>
            <h1>Update list</h1>
                <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Update</button>
            </form> 
        </div>
    </main>
</body>
</html>